// _navigation.scss

.nav {
  background-color: $color-white;
  padding: 0px 80px;
  margin: 20px;

  .nav__container {
    display: flex;
    justify-content: space-between; // Adjust alignment
    align-items: center; // Center items vertically
  }

  .nav__title {
    color: $color-blue;
    font-weight: bold;
  }

  .nav__list {
    list-style-type: none;
    display: flex;
    gap: 20px;

    li {
      a {
        text-decoration: none;
        color: black;
        &.active {
          border-bottom: 2px solid $color-orange;
        }
      }
    }
  }
}
